.plans-container
    .plans-text-container
        h3.h3plan PREMIUM
        p
            span.amt $399
            | /month
        p That's only 13.30$ per meal
        hr
        ul.plan-list
            li 1 meal every day
            li Order 24/7
            li Access to newest creations
            li Free delivery
        hr
    a.btn.btn-full.planbtn(href='') I'm hungry
