.plans-container
    .plans-text-container
        h3.h3plan #{plan.name}
        p
            span.amt $ #{plan.price}
            | /month
        p That's only #{Math.ceil(plan.price/plan.duration)}$ per meal
        hr
        ul.plan-list
            li 1 meal every day
            li Order 24/7
            li Access to newest creations
            li Free delivery
        hr
    a.btn.btn-full.planbtn(href='') I'm hungry
